%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Spot #
      %th Name
      %th Email
      %th Bid
  %tbody
  - @table_rows.each do |table_row|
    %tr{:class => (CurrentBid.raffle_spots.include?(table_row.parking_spot) ? "show-40" : nil)} 
      %td= table_row.parking_spot[-1,1]
      %td= table_row.name
      %td= table_row.email
      %td= "$" + table_row.bid.to_s
     