%h1{:style => "display: inline"} Top Bids
= link_to "Bidding History", bidding_logs_path, :class => "pull-right", :style => "color: red"

.row
  .span6
    %h2 Paladium
    .thumbnail
      %img{:src => "http://placehold.it/575x175"}
    - @table_rows = @bids['Paladium']
    = render 'table'

  .span6
    %h2 Riverside
    .thumbnail
      %img{:src => "http://placehold.it/575x175"}
    - @table_rows = @bids['Riverside']
    = render 'table'

.row
  .span12
    -if !@over 
      = render 'form'