%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th Email
      %th Bid
      %th Placed at
  %tbody
  - @table_rows.each do |table_row|
    %tr
      -# %td= bidding_log.location + bidding_log.spot.to_s
      %td= table_row.name
      %td= table_row.email
      %td= "$" + table_row.bid.to_s
      %td=l( table_row.created_at ).to_s .chomp " -0400"
      -# %td
        -# = link_to 'Edit', edit_bidding_log_path(bidding_log), :class => 'btn btn-mini'
        -# =link_to 'Destroy', bidding_log, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
